#!/usr/bin/make -f

PKGVER := #PKGVER#

kernel_destdir := $(CURDIR)/debian/spacemonkey-kernel-$(PKGVER)
debug_destdir := $(CURDIR)/debian/spacemonkey-kernel-$(PKGVER)-dbg/usr/lib/debug
headers_destdir := $(CURDIR)/debian/spacemonkey-kernel-headers-$(PKGVER)
headers_path := /usr/src/sm-linux-headers-$(PKGVER)

include /usr/share/dpkg/architecture.mk

ifneq ($(DEB_BUILD_GNU_TYPE),$(DEB_HOST_GNU_TYPE))
cross_tool=$(DEB_HOST_GNU_TYPE)-
else
cross_tool=
endif

%:
	dh $@

override_dh_auto_build:
	@echo "Compiling kernel"
	$(MAKE) MAKEFLAGS="-j3 --no-print-directory" uImage \
	    CROSS_COMPILE=$(CROSS_COMPILE) ARCH=$(ARCH)
	@echo "Compiling kernel modules"
	$(MAKE) MAKEFLAGS="-j3 --no-print-directory" modules \
	    CROSS_COMPILE=$(CROSS_COMPILE) ARCH=$(ARCH)

override_dh_auto_install:
	@echo "Installing kernel..."
	install -D -o0 -g0 -m644 arch/arm/boot/uImage \
	    "$(kernel_destdir)/boot/uImage"
	install -D -o0 -g0 -m644 vmlinux "$(kernel_destdir)/boot/vmlinux"
	@echo "Installing kernel modules..."
	$(MAKE) INSTALL_MOD_PATH="$(kernel_destdir)" modules_install \
	    CROSS_COMPILE=$(CROSS_COMPILE) ARCH=$(ARCH)
	@echo "Installing kernel headers..."
	$(MAKE) INSTALL_HDR_PATH="$(headers_destdir)$(headers_path)" \
	    headers_install CROSS_COMPILE=$(CROSS_COMPILE) ARCH=$(ARCH)
	@echo "Kernel installed into package."

override_dh_auto_clean:
	$(MAKE) clean

override_dh_strip:
	dh_strip --dbg-package=spacemonkey-kernel-$(PKGVER)-dbg
ifeq (,$(filter nostrip,$(DEB_BUILD_OPTIONS)))
	# dh_strip apparently can't be made to recognize and strip .ko modules
	# or vmlinux; do them manually
	find $(kernel_destdir) -name '*.ko' -printf '%P\n' | \
	while read f; do \
	    install -d "$(debug_destdir)/$$(dirname $$f)"; \
	    $(cross_tool)objcopy --only-keep-debug "$(kernel_destdir)/$$f" \
	            "$(debug_destdir)/$$f"; \
	    chmod 644 "$(debug_destdir)/$$f"; \
	    $(cross_tool)strip --remove-section=.comment --remove-section=.note \
	            --strip-debug "$(kernel_destdir)/$$f"; \
	    $(cross_tool)objcopy --add-gnu-debuglink "$(debug_destdir)/$$f" \
	            "$(kernel_destdir)/$$f"; \
	done
	install -d "$(debug_destdir)/boot"
	$(cross_tool)objcopy --only-keep-debug "$(kernel_destdir)/boot/vmlinux" \
	        "$(debug_destdir)/boot/vmlinux"
	chmod 644 "$(debug_destdir)/boot/vmlinux"
	$(cross_tool)strip --remove-section=.comment --remove-section=.note \
	        --strip-unneeded "$(kernel_destdir)/boot/vmlinux"
	$(cross_tool)objcopy --add-gnu-debuglink "$(debug_destdir)/boot/vmlinux" \
	        "$(kernel_destdir)/boot/vmlinux"
endif
